<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <IsLinux>true</IsLinux>
    <ResourceId>/subscriptions/618515bd-de7e-4905-bbd2-108e3b61d43e/resourceGroups/Happy-Learning-ResorceGroup/providers/Microsoft.Web/sites/AuthenticateService</ResourceId>
    <ResourceGroup>Happy-Learning-ResorceGroup</ResourceGroup>
    <LaunchSiteAfterPublish>true</LaunchSiteAfterPublish>
    <SiteUrlToLaunchAfterPublish>https://authenticateservice.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <ProjectGuid>86801734-137b-4351-92a9-c828fb152ef0</ProjectGuid>
    <PublishUrl>https://authenticateservice.scm.azurewebsites.net/</PublishUrl>
    <UserName>$AuthenticateService</UserName>
    <_SavePWD>true</_SavePWD>
  </PropertyGroup>
</Project>